extends ../layout

block content
  ul.list-inline
    li.list-inline-item 
      p
        time(datetime="2019-07-09") 09.07.2019
        span  - 
          a.text-primary(href="./blog/articles/query.md") Informatiebehoefte vanuit kantoorautomatisering specificeren